<!DOCTYPE html>
<html lang="en">

<head>
    <title>To-Do List</title>
</head>

<body>

    <h1>To-Do Item</h1>

    <form method="POST" action="/submittodoitem">

        <label>Item ID:</label>
        <input type="text" name="itemId">

        <br><br>

        <label>Item UUID:</label>
        <input type="text" name="itemUUID">

        <br><br>

        HEAD
        <label>Item Hash:</label>
        <input type="text" name="itemHash">

        <br><br>


        dc3e51b (Add Item UUID field)
        <label>Item Name:</label>
        <input type="text" name="itemName">

        <br><br>

        <label>Item Description:</label>
        <textarea name="itemDescription"></textarea>

        <br><br>

        <button type="submit">Submit</button>

    </form>

</body>

</html>